<div class="principal">
  <form #frm="ngForm" >
      <div class="form-group form-inline">
        <label class="titulo" >Cliente</label>
        <input type="text" class="form-control input-cliente" [(ngModel)]="listaPedidos[count].nomeLoja" name="nomeLoja" readonly>
      </div>

      <div class="form-group form-inline">
        <label class="titulo" >Pedido</label>
        <input type="text" class="form-control input-outros" [(ngModel)]="listaPedidos[count].codigoPedido" name="codigoPedido" readonly>

        <label class="titulo-outros" >Data</label>
        <input type="text" class="form-control input-outros"  [(ngModel)]="listaPedidos[count].data" name="data" readonly>

        <label class="titulo-outros" >Total</label>
        <input type="text" class="form-control input-outros"  [(ngModel)]="listaPedidos[count].total" name="data" readonly>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of listaPedidos[count].produtos">
          
            <td>{{produto.nome}}</td>
            <td>{{produto.quantidade}}</td>
            <td>{{produto.valor}}</td>
          </tr>     
        </tbody>
      </table>
  

  </form>



<button type="button" (click)="carregarPedidos()" class="btn btn-primary">Carregar XML</button>
<button type="button" (click)="geradorJson()" class="btn btn-primary">Gerar arquivo Json</button>
<button type="button" (click)="contador()" [disabled]="this.valido" class="btn btn-primary">Proximo Registo</button>



<!-- Botão para acionar modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalExemplo">
  Abrir modal de demonstração
</button>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
</div>