.principal{
    margin-top: 1.5rem;
    margin-left: 0.7rem;
}

.input-cliente{
    width: 92% !important;   
}

.titulo{
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}

.titulo-outros{
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}

.input-outros{
    width: 25% !important;
}

.div-botao{
    display: flex;
    justify-content: center;
}

.botao{ 
    margin-left: 10px;
    margin-right: 10px;
}

.adicionar{
    margin-left: 37px;
}