<div class="principal">
  <form #frm="ngForm" >    
      <div class="form-group form-inline">
        <label class="titulo" >Cliente</label>
        <input type="text" class="form-control input-cliente" [(ngModel)]="listaPedidos[count].nomeLoja" name="nomeLoja" readonly>
      </div>

      <div class="form-group form-inline">
        <label class="titulo" >Pedido</label>
        <input type="text" class="form-control input-outros" [(ngModel)]="listaPedidos[count].codigoPedido" name="codigoPedido" readonly>

        <label class="titulo-outros" >Data</label>
        <input type="text" class="form-control input-outros"  [(ngModel)]="listaPedidos[count].data" name="data" readonly>

        <label class="titulo-outros" >Total</label>
        <input type="text" class="form-control input-outros"  [(ngModel)]="listaPedidos[count].total" name="data" readonly>

      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of listaPedidos[count].produtos">          
            <td>{{produto.nome}}</td>
            <td>{{produto.quantidade}}</td>
            <td>{{produto.valor}}</td>
          </tr>     
        </tbody>
      </table>
  </form>

  <div class="form-group div-botao">
    <button type="button" (click)="carregarPedidos()" class="btn btn-primary botao">Carregar XML</button>
    <button type="button" (click)="geradorJson()" class="btn btn-primary botao">Gerar arquivo Json</button>
    <button type="button" (click)="contador()" [disabled]="this.valido" class="btn btn-primary botao">Proximo Registo</button>
    <button type="button" class="btn btn-warning" (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Adicionar Pedido
</button>
  </div>

 
</div> 

<!-- COLLAPSE PARA ADIÇÃO DE NOVO REGISTRO -->
<div class="card card-block card-header" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
  <div class="form-group form-inline">
    <label class="titulo" >Cliente</label>
    <input type="text" class="form-control input-cliente" [(ngModel)]="pedido.nomeLoja" name="nomeLoja" >
  </div> 

  <div class="form-group form-inline">
    <label class="titulo" >Pedido</label>
    <input type="text" class="form-control input-outros" [(ngModel)]="pedido.codigoPedido" name="codigoPedido" >

    <label class="titulo-outros" >Data</label>
    <input type="text" class="form-control input-outros"  [(ngModel)]="pedido.data" name="data" >

    <label class="titulo-outros" >Total</label>
    <input type="text" class="form-control input-outros"  [(ngModel)]="pedido.total" name="data" >

  </div>
<hr>
  <p>Produtos</p> 
  <div  ngModelArray = "this.enderecos"> 
    <div *ngFor="let produto of this.produtos;let i = index;let first = first;"> 
    <div class="form-group div-produto">
    
      <label class="titulo" >Código</label>
      <input type="text" class="form-control input-collapse" [(ngModel)]="produto.codigo" name="codigo" >
  
      <label class="titulo-outros" >Nome</label>
      <input type="text" class="form-control input-collapse" [(ngModel)]="produto.nome" name="nome" >
  
      <label class="titulo-outros" >Quantidade</label>
      <input type="text" class="form-control input-collapse"  [(ngModel)]="produto.quantidade" name="quantidade" >
  
      <label class="titulo-outros" >Total</label>
      <input type="text" class="form-control input-collapse"  [(ngModel)]="produto.valor" name="valor" >
    </div> 
    
  </div>
  
  </div>
  <div class="botaoes-collapse">
    <button class="btn btn-dark adicionar-produto" (click)="adicionarProduto()">Adicionar Produto</button>
    <button class="btn btn-success salvar" (click)="salvarPedido()">Salvar</button>
  </div> 

</div>



